.event-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .event-card {
    width:350px !important;
    margin-top: 50px !important;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
  }
  .register-button {
    background-color: rgb(2, 95, 2);
    color: white;
  }
  
  .unregister-button {
    background-color: rgb(151, 3, 3);
    color: white;
  }
  