.event-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .event-card {
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  button {
    padding: 20px;
    background-color: #855bf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}